.tabs__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.tab__item-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 456px;
    padding: 16px 0px;
    gap: 8px;
    border-radius: 10px;
    font-family: Commissioner;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 0.5px solid var(--black, #000);
}

.tab__item-btn--active {
    background: var(--black, #000);
    color: var(--white, var(--color-color-background-primary, #FFF));
}
